.searchHeader {
  padding: 10px 0;
  background-color: rgb(12, 89, 112);
}
.searchForm {
  display: flex;
  flex-direction: row-reverse;
  max-width: 420px;
  margin: 0 auto;
}
.searchInput {
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 5px;
  order: 1;
  width: 100%;
}
.searchBtn {
  padding: 5px 8px;
  background-color: transparent;
  border: 1px solid #fff;
  margin-inline-start: 3px;
}